body, html{
    padding: 0;
    margin: 0;
}

button{
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#btn_sair{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    border: 2px solid white;
}

#btn_more{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid white;
}

button:hover {
    background-color: rgb(211, 211, 211);
    transition: 0.25s;
    transform: scale(1.05);
}

#inputPesquisa{
    border-radius : 10px;
    height: 30px;
    border: 2px solid black;
    outline: none;
}

#select{
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 0 auto;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#select option{
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media screen and (max-width: 767px){
    #myContainer {
        grid-template-columns: auto;
    }
    #btns{
        display: none;
    }
    #select{
        display: flex;
    }
}

@media screen and (min-width: 768px){
    #myContainer {
        grid-template-columns: auto auto;
    }
    #btns{
        display: flex;
    }
    #select{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    #myContainer {
        grid-template-columns: auto auto auto auto;
    }
}